Repository mozilla/fxa, pull requests merged in 2019-05, with the labels that each got.

#864 feat(ui): update styles to better reflect new branding
  packages/fxa-content-server/app/images/account-verified@2x.png
  packages/fxa-content-server/app/images/choose_what_to_sync_devices.jpg
  packages/fxa-content-server/app/images/choose_what_to_sync_devices@2x.jpg
  packages/fxa-content-server/app/images/mozilla.svg
  packages/fxa-content-server/app/scripts/templates/settings.mustache
  packages/fxa-content-server/app/scripts/templates/settings/emails.mustache
  packages/fxa-content-server/app/scripts/views/mixins/password-mixin.js
  packages/fxa-content-server/app/styles/_base.scss
  packages/fxa-content-server/app/styles/_breakpoints.scss
  packages/fxa-content-server/app/styles/_layout.scss
  packages/fxa-content-server/app/styles/_mixins.scss
  packages/fxa-content-server/app/styles/_state.scss
  packages/fxa-content-server/app/styles/_variables.scss
  packages/fxa-content-server/app/styles/modules/_avatar.scss
  packages/fxa-content-server/app/styles/modules/_branding.scss
  packages/fxa-content-server/app/styles/modules/_button-row.scss
  packages/fxa-content-server/app/styles/modules/_cropper.scss
  packages/fxa-content-server/app/styles/modules/_custom-rows.scss
  packages/fxa-content-server/app/styles/modules/_input-row.scss
  packages/fxa-content-server/app/styles/modules/_legal.scss
  packages/fxa-content-server/app/styles/modules/_modal.scss
  packages/fxa-content-server/app/styles/modules/_password-row.scss
  packages/fxa-content-server/app/styles/modules/_settings-account-recovery.scss
  packages/fxa-content-server/app/styles/modules/_settings.scss
  packages/fxa-content-server/app/styles/modules/_spinner.scss
  packages/fxa-content-server/app/tests/spec/views/sign_up.js
  packages/fxa-content-server/server/templates/pages/src/404.html
  packages/fxa-content-server/server/templates/pages/src/500.html
  packages/fxa-content-server/server/templates/pages/src/502.html
  packages/fxa-content-server/server/templates/pages/src/503.html
  packages/fxa-content-server/server/templates/pages/src/index.html
  packages/fxa-content-server/server/templates/pages/src/privacy.html
  packages/fxa-content-server/server/templates/pages/src/terms.html
  packages/fxa-content-server/server/templates/pages/src/update_firefox.html
Labels: P3, fxa-content-server

#1001 feat(subscriptions): Add a dev OAuth entry for the subscriptions page.
  packages/fxa-auth-server/fxa-oauth-server/config/dev.json
Labels: fxa-auth-server

#732 style(modal): spinner and modal size
  packages/fxa-content-server/app/scripts/templates/settings/avatar_change.mustache
  packages/fxa-content-server/app/styles/modules/_spinner.scss
Labels: needs:gpg signature

#1019 chore(lockwise): Add an icon for Firefox Lockwise
  packages/fxa-content-server/app/images/icon-service-lockwise.svg
  packages/fxa-content-server/app/styles/modules/_settings.scss
Labels: fxa-content-server

#722 fix(style): set line-height to improve global body legibility
  packages/fxa-content-server/app/styles/modules/_update_firefox.scss
  packages/fxa-content-server/server/templates/pages/src/update_firefox.html
Labels: needs:gpg signature

#1211 fix(services): send country code instead of country on login and verified events
  packages/fxa-auth-server/lib/routes/account.js
  packages/fxa-auth-server/lib/routes/emails.js
  packages/fxa-auth-server/lib/routes/utils/signin.js
  packages/fxa-auth-server/test/local/routes/account.js
  packages/fxa-auth-server/test/local/routes/emails.js
  packages/fxa-auth-server/test/local/routes/utils/signin.js
Labels: fxa-auth-server

#1230 refactor(tests): re-use client.doRequest in doRequestWithBearerToken
  packages/fxa-auth-server/test/client/api.js
Labels: cat:code quality
